
.DS_Store
CYFFmpeg.xcodeproj/project.xcworkspace/xcuserdata/yellowei.xcuserdatad/UserInterfaceState.xcuserstate
CYFFmpeg.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
CYFFmpeg.xcodeproj/xcuserdata/yellowei.xcuserdatad/xcschemes/xcschememanagement.plist
